/*! Some Grids by Mika Spell v 1.1.3 */
/* line 13, ../resources/scss/_grids.scss */
* {
  box-sizing: border-box; }
  /* line 17, ../resources/scss/_grids.scss */
  *:before, *:after {
    box-sizing: border-box; }

/* line 23, ../resources/scss/_grids.scss */
.wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

/* line 32, ../resources/scss/_grids.scss */
.box {
  margin-left: -10px;
  margin-right: -10px; }

/* line 38, ../resources/scss/_grids.scss */
.sgrid-1, .sgrid-2, .sgrid-3, .sgrid-4, .sgrid-5, .sgrid-6, .sgrid-7, .sgrid-8, .sgrid-9, .sgrid-10, .sgrid-11, .sgrid-12 {
  min-height: 1px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px; }

/* line 55, ../resources/scss/_grids.scss */
.inline > .sgrid-1, .inline > .sgrid-2, .inline > .sgrid-3, .inline > .sgrid-4, .inline > .sgrid-5, .inline > .sgrid-6, .inline > .sgrid-7, .inline > .sgrid-8, .inline > .sgrid-9, .inline > .sgrid-10, .inline > .sgrid-11, .inline > .sgrid-12 {
  display: inline;
  zoom: 1;
  display: inline-block;
  margin-right: -4.4px;
  margin-bottom: 10px;
  vertical-align: top; }

/* line 65, ../resources/scss/_grids.scss */
.float > .sgrid-1, .float > .sgrid-2, .float > .sgrid-3, .float > .sgrid-4, .float > .sgrid-5, .float > .sgrid-6, .float > .sgrid-7, .float > .sgrid-8, .float > .sgrid-9, .float > .sgrid-10, .float > .sgrid-11, .float > .sgrid-12 {
  float: left; }

/* line 70, ../resources/scss/_grids.scss */
.flex > .sgrid-1, .flex > .sgrid-2, .flex > .sgrid-3, .flex > .sgrid-4, .flex > .sgrid-5, .flex > .sgrid-6, .flex > .sgrid-7, .flex > .sgrid-8, .flex > .sgrid-9, .flex > .sgrid-10, .flex > .sgrid-11, .flex > .sgrid-12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

/* line 76, ../resources/scss/_grids.scss */
.inline {
  text-align: left; }

/* line 89, ../resources/scss/_grids.scss */
.float {
  *zoom: 1; }
  /* line 7, ../resources/scss/_mixins.scss */
  .float:before, .float:after {
    display: table;
    content: "";
    line-height: 0; }
  /* line 14, ../resources/scss/_mixins.scss */
  .float:after {
    clear: both; }

/* line 102, ../resources/scss/_grids.scss */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }

/* Grid system */
/* line 124, ../resources/scss/_grids.scss */
.sgrid-1 {
  width: 8.3333333333%; }

/* line 124, ../resources/scss/_grids.scss */
.sgrid-2 {
  width: 16.6666666667%; }

/* line 124, ../resources/scss/_grids.scss */
.sgrid-3 {
  width: 25%; }

/* line 124, ../resources/scss/_grids.scss */
.sgrid-4 {
  width: 33.3333333333%; }

/* line 124, ../resources/scss/_grids.scss */
.sgrid-5 {
  width: 41.6666666667%; }

/* line 124, ../resources/scss/_grids.scss */
.sgrid-6 {
  width: 50%; }

/* line 124, ../resources/scss/_grids.scss */
.sgrid-7 {
  width: 58.3333333333%; }

/* line 124, ../resources/scss/_grids.scss */
.sgrid-8 {
  width: 66.6666666667%; }

/* line 124, ../resources/scss/_grids.scss */
.sgrid-9 {
  width: 75%; }

/* line 124, ../resources/scss/_grids.scss */
.sgrid-10 {
  width: 83.3333333333%; }

/* line 124, ../resources/scss/_grids.scss */
.sgrid-11 {
  width: 91.6666666667%; }

/* line 124, ../resources/scss/_grids.scss */
.sgrid-12 {
  width: 100%; }

/* line 132, ../resources/scss/_grids.scss */
.pre-1 {
  margin-left: 8.3333333333%; }

/* line 137, ../resources/scss/_grids.scss */
.post-1 {
  margin-right: 8.3333333333%; }

/* line 132, ../resources/scss/_grids.scss */
.pre-2 {
  margin-left: 16.6666666667%; }

/* line 137, ../resources/scss/_grids.scss */
.post-2 {
  margin-right: 16.6666666667%; }

/* line 132, ../resources/scss/_grids.scss */
.pre-3 {
  margin-left: 25%; }

/* line 137, ../resources/scss/_grids.scss */
.post-3 {
  margin-right: 25%; }

/* line 132, ../resources/scss/_grids.scss */
.pre-4 {
  margin-left: 33.3333333333%; }

/* line 137, ../resources/scss/_grids.scss */
.post-4 {
  margin-right: 33.3333333333%; }

/* line 132, ../resources/scss/_grids.scss */
.pre-5 {
  margin-left: 41.6666666667%; }

/* line 137, ../resources/scss/_grids.scss */
.post-5 {
  margin-right: 41.6666666667%; }

/* line 132, ../resources/scss/_grids.scss */
.pre-6 {
  margin-left: 50%; }

/* line 137, ../resources/scss/_grids.scss */
.post-6 {
  margin-right: 50%; }

/* line 132, ../resources/scss/_grids.scss */
.pre-7 {
  margin-left: 58.3333333333%; }

/* line 137, ../resources/scss/_grids.scss */
.post-7 {
  margin-right: 58.3333333333%; }

/* line 132, ../resources/scss/_grids.scss */
.pre-8 {
  margin-left: 66.6666666667%; }

/* line 137, ../resources/scss/_grids.scss */
.post-8 {
  margin-right: 66.6666666667%; }

/* line 132, ../resources/scss/_grids.scss */
.pre-9 {
  margin-left: 75%; }

/* line 137, ../resources/scss/_grids.scss */
.post-9 {
  margin-right: 75%; }

/* line 132, ../resources/scss/_grids.scss */
.pre-10 {
  margin-left: 83.3333333333%; }

/* line 137, ../resources/scss/_grids.scss */
.post-10 {
  margin-right: 83.3333333333%; }

/* line 132, ../resources/scss/_grids.scss */
.pre-11 {
  margin-left: 91.6666666667%; }

/* line 137, ../resources/scss/_grids.scss */
.post-11 {
  margin-right: 91.6666666667%; }

/* line 3, ../resources/scss/_base.scss */
html, body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1; }

/* line 10, ../resources/scss/_base.scss */
a {
  text-decoration: none;
  color: #003cff; }

/* line 16, ../resources/scss/_base.scss */
p {
  line-height: 1.5;
  margin: 0; }

/* line 22, ../resources/scss/_base.scss */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* line 31, ../resources/scss/_base.scss */
h1 {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1;
  margin: 0; }

/* line 31, ../resources/scss/_base.scss */
h2 {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1;
  margin: 0; }

/* line 31, ../resources/scss/_base.scss */
h3 {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1;
  margin: 0; }

/* line 31, ../resources/scss/_base.scss */
h4 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1;
  margin: 0; }

/* line 31, ../resources/scss/_base.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  margin: 0; }

/* line 31, ../resources/scss/_base.scss */
h6 {
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1;
  margin: 0; }

/* line 40, ../resources/scss/_base.scss */
hr {
  width: 100%;
  height: 2px;
  margin: 5px 0;
  background: #f9f9f9;
  background: -webkit-linear-gradient(left, rgba(211, 211, 211, 0) 0, rgba(249, 249, 249, 0.9) 20%, rgba(249, 249, 249, 0.9) 80%, rgba(211, 211, 211, 0) 100%);
  background: linear-gradient(to right, rgba(211, 211, 211, 0) 0, rgba(249, 249, 249, 0.9) 20%, rgba(249, 249, 249, 0.9) 80%, rgba(211, 211, 211, 0) 100%);
  border: 0; }

/* line 50, ../resources/scss/_base.scss */
.clearfix, .clear, .clr {
  *zoom: 1; }
  /* line 7, ../resources/scss/_mixins.scss */
  .clearfix:before, .clearfix:after, .clear:before, .clear:after, .clr:before, .clr:after {
    display: table;
    content: "";
    line-height: 0; }
  /* line 14, ../resources/scss/_mixins.scss */
  .clearfix:after, .clear:after, .clr:after {
    clear: both; }

/* line 55, ../resources/scss/_base.scss */
.widget {
  border: 1px solid #d3d3d3;
  margin-bottom: 20px; }
  /* line 60, ../resources/scss/_base.scss */
  .widget__title {
    background: #f4f3f3;
    background: -webkit-linear-gradient(bottom, #edeaea, #fcfcfc);
    background: linear-gradient(to top, #edeaea, #fcfcfc);
    color: #232323;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d3d3d3; }
    /* line 70, ../resources/scss/_base.scss */
    .widget__title span {
      float: left;
      font-weight: 700; }
    /* line 76, ../resources/scss/_base.scss */
    .widget__title a {
      float: right;
      font-size: 12px;
      padding-top: 2px;
      text-decoration: underline;
      color: #003cff; }
  /* line 86, ../resources/scss/_base.scss */
  .widget__content {
    background: #fff;
    padding: 0; }
    /* line 91, ../resources/scss/_base.scss */
    .widget__content--wpad {
      padding: 10px; }

/* line 102, ../resources/scss/_base.scss */
.content h1 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px; }
/* line 102, ../resources/scss/_base.scss */
.content h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px; }
/* line 102, ../resources/scss/_base.scss */
.content h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px; }
/* line 102, ../resources/scss/_base.scss */
.content h4 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px; }
/* line 102, ../resources/scss/_base.scss */
.content h5 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px; }
/* line 102, ../resources/scss/_base.scss */
.content h6 {
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px; }
/* line 110, ../resources/scss/_base.scss */
.content p {
  margin-bottom: 10px; }
  /* line 114, ../resources/scss/_base.scss */
  .content p:last-child {
    margin-bottom: 0; }

/* line 121, ../resources/scss/_base.scss */
.social__buttons {
  *zoom: 1;
  margin: 10px 0; }
  /* line 7, ../resources/scss/_mixins.scss */
  .social__buttons:before, .social__buttons:after {
    display: table;
    content: "";
    line-height: 0; }
  /* line 14, ../resources/scss/_mixins.scss */
  .social__buttons:after {
    clear: both; }
  /* line 126, ../resources/scss/_base.scss */
  .social__buttons-item {
    float: left;
    font-size: 16px;
    font-weight: 700;
    padding-top: 4px;
    margin-right: 5px;
    text-decoration: underline; }
    /* line 136, ../resources/scss/_base.scss */
    .social__buttons-item.goodshare {
      width: 25px;
      height: 25px;
      background: #003cff;
      color: #fff;
      font-weight: normal;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      border-radius: 3px;
      position: relative;
      top: 0;
      -webkit-transition: top .2s linear, text-shadow .6s linear;
              transition: top .2s linear, text-shadow .6s linear; }
      /* line 151, ../resources/scss/_base.scss */
      .social__buttons-item.goodshare[data-type="gp"] {
        padding-top: 5px; }
      /* line 156, ../resources/scss/_base.scss */
      .social__buttons-item.goodshare:hover {
        background: #3cb878;
        top: -3px;
        text-shadow: 0 1px 1px #232323;
        box-shadow: 0 1px 1px #4a4a4a; }

/* line 167, ../resources/scss/_base.scss */
.button {
  display: block;
  width: 100%;
  min-width: 100px;
  min-height: 25px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #fff;
  padding: 5px 5%;
  border: 0;
  border-radius: 3px;
  text-align: center;
  vertical-align: top;
  text-decoration: none; }
  /* line 183, ../resources/scss/_base.scss */
  .button.button--blue {
    background: #3363ff;
    background: -webkit-linear-gradient(bottom, #003cff, #3363ff);
    background: linear-gradient(to top, #003cff, #3363ff); }
  /* line 188, ../resources/scss/_base.scss */
  .button.button--green {
    background: #5dca92;
    background: -webkit-linear-gradient(bottom, #3cb878, #5dca92);
    background: linear-gradient(to top, #3cb878, #5dca92); }

/* line 5, ../resources/scss/_form.scss */
::-webkit-input-placeholder {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: 400;
  padding-top: 2px;
  color: #d3d3d3; }

/* line 14, ../resources/scss/_form.scss */
::-moz-placeholder {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: 400;
  padding-top: 2px;
  color: #d3d3d3; }

/* line 23, ../resources/scss/_form.scss */
:-moz-placeholder {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: 400;
  padding-top: 2px;
  color: #d3d3d3; }

/* line 32, ../resources/scss/_form.scss */
:-ms-input-placeholder {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: 400;
  padding-top: 2px;
  color: #d3d3d3; }

/* line 41, ../resources/scss/_form.scss */
fieldset {
  position: relative;
  padding: 5px 0 10px;
  margin: 0;
  border: 0; }
  /* line 48, ../resources/scss/_form.scss */
  fieldset:last-of-type {
    padding-bottom: 5px; }
  /* line 53, ../resources/scss/_form.scss */
  fieldset input, fieldset textarea, fieldset select {
    margin-bottom: 5px; }
    /* line 57, ../resources/scss/_form.scss */
    fieldset input:last-child, fieldset textarea:last-child, fieldset select:last-child {
      margin-bottom: 0; }
  /* line 63, ../resources/scss/_form.scss */
  fieldset.text {
    text-align: center; }
    /* line 67, ../resources/scss/_form.scss */
    fieldset.text a {
      color: #003cff;
      text-decoration: none; }
  /* line 76, ../resources/scss/_form.scss */
  fieldset.checkboxes label, fieldset.radios label {
    display: block;
    padding-bottom: 5px; }
    /* line 81, ../resources/scss/_form.scss */
    fieldset.checkboxes label:last-of-type, fieldset.radios label:last-of-type {
      padding-bottom: 0; }
    /* line 86, ../resources/scss/_form.scss */
    fieldset.checkboxes label input, fieldset.radios label input {
      display: none; }
      /* line 90, ../resources/scss/_form.scss */
      fieldset.checkboxes label input + span:before, fieldset.radios label input + span:before {
        width: 17px;
        display: inline-block;
        font-family: "FontAwesome";
        color: #232323; }
  /* line 103, ../resources/scss/_form.scss */
  fieldset.checkboxes label {
    padding-left: 5px; }
    /* line 109, ../resources/scss/_form.scss */
    fieldset.checkboxes label input + span:before {
      content: "\f096"; }
    /* line 116, ../resources/scss/_form.scss */
    fieldset.checkboxes label input:checked + span:before {
      content: '\f046'; }
  /* line 127, ../resources/scss/_form.scss */
  fieldset.radios label {
    padding-left: 3px; }
    /* line 133, ../resources/scss/_form.scss */
    fieldset.radios label input + span:before {
      content: "\f10c"; }
    /* line 140, ../resources/scss/_form.scss */
    fieldset.radios label input:checked + span:before {
      content: '\f192'; }
  /* line 151, ../resources/scss/_form.scss */
  fieldset.range input {
    display: inline-block;
    width: 35%; }
  /* line 157, ../resources/scss/_form.scss */
  fieldset.range span {
    margin-left: 3.5%; }

/* line 164, ../resources/scss/_form.scss */
legend, label {
  font-weight: bold; }

/* line 169, ../resources/scss/_form.scss */
label {
  cursor: pointer; }

/* line 174, ../resources/scss/_form.scss */
input {
  position: relative;
  color: #232323;
  width: 100%;
  padding: 3px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 3px; }
  /* line 185, ../resources/scss/_form.scss */
  input::-webkit-input-placeholder {
    -webkit-transition: all 0.15s ease;
            transition: all 0.15s ease; }
  /* line 190, ../resources/scss/_form.scss */
  input:focus, input:active {
    outline: 0;
    border-color: #003cff; }
    /* line 195, ../resources/scss/_form.scss */
    input:focus::-webkit-input-placeholder, input:active::-webkit-input-placeholder {
      color: #003cff;
      padding-left: 10px; }
    /* line 201, ../resources/scss/_form.scss */
    input:focus::-moz-placeholder, input:active::-moz-placeholder {
      color: transparent; }
    /* line 206, ../resources/scss/_form.scss */
    input:focus:-moz-placeholder, input:active:-moz-placeholder {
      color: transparent; }
    /* line 211, ../resources/scss/_form.scss */
    input:focus:-ms-input-placeholder, input:active:-ms-input-placeholder {
      color: transparent; }
  /* line 225, ../resources/scss/_form.scss */
  input[type="text"], input[type="email"] {
    padding: 3px 10px; }
  /* line 230, ../resources/scss/_form.scss */
  input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-right: 5px; }
  /* line 237, ../resources/scss/_form.scss */
  input[type="password"] {
    padding-top: 6px; }
    /* line 241, ../resources/scss/_form.scss */
    input[type="password"]::-webkit-input-placeholder {
      padding-top: 0; }
    /* line 246, ../resources/scss/_form.scss */
    input[type="password"]::-moz-placeholder {
      padding-top: 0 !important; }
    /* line 251, ../resources/scss/_form.scss */
    input[type="password"]:-moz-placeholder {
      padding-top: 0 !important; }
    /* line 256, ../resources/scss/_form.scss */
    input[type="password"]:-ms-input-placeholder {
      padding-top: 0; }
  /* line 263, ../resources/scss/_form.scss */
  input[type="number"] {
    padding: 2px 0 4px 10px; }
  /* line 268, ../resources/scss/_form.scss */
  input[type="submit"] {
    padding-top: 5px;
    cursor: pointer; }
  /* line 274, ../resources/scss/_form.scss */
  input:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none; }

/* line 282, ../resources/scss/_form.scss */
select {
  width: 100%;
  padding: 4px 10% 4px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/select-arrow.png) 97% 55% no-repeat #fff;
  background-size: 12px 8px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  cursor: pointer; }
  /* line 294, ../resources/scss/_form.scss */
  select:focus, select:active {
    outline: none;
    border-color: #003cff; }

/* line 305, ../resources/scss/_form.scss */
textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 3px; }
  /* line 314, ../resources/scss/_form.scss */
  textarea:focus, textarea:active {
    outline: none; }
  /* line 321, ../resources/scss/_form.scss */
  textarea::-webkit-input-placeholder {
    -webkit-transition: all 0.15s ease;
            transition: all 0.15s ease; }
  /* line 326, ../resources/scss/_form.scss */
  textarea:focus, textarea:active {
    outline: 0;
    border-color: #003cff; }
    /* line 331, ../resources/scss/_form.scss */
    textarea:focus::-webkit-input-placeholder, textarea:active::-webkit-input-placeholder {
      color: #003cff;
      padding-left: 10px; }
    /* line 337, ../resources/scss/_form.scss */
    textarea:focus::-moz-placeholder, textarea:active::-moz-placeholder {
      color: transparent; }
    /* line 342, ../resources/scss/_form.scss */
    textarea:focus:-moz-placeholder, textarea:active:-moz-placeholder {
      color: transparent; }
    /* line 347, ../resources/scss/_form.scss */
    textarea:focus:-ms-input-placeholder, textarea:active:-ms-input-placeholder {
      color: transparent; }

/* line 362, ../resources/scss/_form.scss */
.error {
  position: absolute;
  height: 16px;
  top: 50%;
  right: 3%;
  margin-top: -8px;
  color: #f00; }

/* line 377, ../resources/scss/_form.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -.2em;
  margin-left: -.6em; }
/* line 384, ../resources/scss/_form.scss */
.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #003cff url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
  color: #222222;
  font-weight: bold; }
/* line 392, ../resources/scss/_form.scss */
.ui-widget-content {
  border: 1px solid #d3d3d3;
  background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
  color: #222; }
/* line 403, ../resources/scss/_form.scss */
.ui-state-default {
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  background: #fff url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
  font-weight: normal;
  color: #555;
  cursor: pointer; }
  /* line 412, ../resources/scss/_form.scss */
  .ui-state-default .inner-handle {
    display: block;
    content: '';
    position: relative;
    top: .2em;
    left: .2em;
    width: 9px;
    height: 9px;
    background: #ebebeb;
    border: 1px solid #d3d3d3;
    border-radius: 50%; }
  /* line 426, ../resources/scss/_form.scss */
  .ui-state-default:focus, .ui-state-default:active {
    outline: none;
    border-color: #003cff; }
/* line 433, ../resources/scss/_form.scss */
.ui-state-hover .inner-handle {
  background: #003cff; }

/* line 440, ../resources/scss/_form.scss */
.range-slider {
  margin-top: 10px; }

/* line 18, ../resources/scss/_navi.scss */
.menu li {
  position: relative;
  padding-top: 2px; }
/* line 24, ../resources/scss/_navi.scss */
.menu a {
  text-decoration: none;
  color: #232323;
  display: block;
  padding: 10px; }
/* line 36, ../resources/scss/_navi.scss */
.menu--horizontal .parent a {
  position: relative; }
  /* line 40, ../resources/scss/_navi.scss */
  .menu--horizontal .parent a:after {
    font-family: 'FontAwesome';
    position: absolute; }
/* line 48, ../resources/scss/_navi.scss */
.menu--horizontal_item {
  float: left;
  background: #fdfdfd;
  width: 16.6666666667%;
  text-align: center;
  position: relative; }
  /* line 56, ../resources/scss/_navi.scss */
  .menu--horizontal_item:hover, .menu--horizontal_item.active {
    background: #3363ff;
    background: -webkit-linear-gradient(bottom, #003cff, #3363ff);
    background: linear-gradient(to top, #003cff, #3363ff);
    color: #fff;
    text-shadow: 0 1px #232323; }
    /* line 62, ../resources/scss/_navi.scss */
    .menu--horizontal_item:hover > a, .menu--horizontal_item.active > a {
      color: #fff; }
  /* line 70, ../resources/scss/_navi.scss */
  .menu--horizontal_item.parent > a {
    padding-right: 15%; }
    /* line 74, ../resources/scss/_navi.scss */
    .menu--horizontal_item.parent > a:after {
      content: '\f078';
      right: 5%;
      top: 50%;
      margin-top: -8px; }
  /* line 84, ../resources/scss/_navi.scss */
  .menu--horizontal_item:hover > .menu--sub, .menu--horizontal_item:focus > .menu--sub {
    display: block; }
/* line 94, ../resources/scss/_navi.scss */
.menu--horizontal .menu--sub {
  display: none;
  position: absolute;
  background: #fdfdfd;
  box-shadow: 0px 5px 5px -2px rgba(50, 50, 50, 0.7);
  z-index: 99999; }
  /* line 102, ../resources/scss/_navi.scss */
  .menu--horizontal .menu--sub li {
    padding-top: 3px; }
  /* line 107, ../resources/scss/_navi.scss */
  .menu--horizontal .menu--sub a {
    line-height: .95;
    padding-right: 20px; }
    /* line 112, ../resources/scss/_navi.scss */
    .menu--horizontal .menu--sub a:after {
      right: 10px; }
/* line 119, ../resources/scss/_navi.scss */
.menu--horizontal .menu--sub {
  top: 38px;
  left: 0;
  width: 155%; }
  /* line 126, ../resources/scss/_navi.scss */
  .menu--horizontal .menu--sub_item2 {
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
    text-shadow: none;
    color: #232323; }
    /* line 133, ../resources/scss/_navi.scss */
    .menu--horizontal .menu--sub_item2.parent > a:after {
      content: '\f054'; }
    /* line 138, ../resources/scss/_navi.scss */
    .menu--horizontal .menu--sub_item2:hover, .menu--horizontal .menu--sub_item2.active {
      color: #003cff; }
      /* line 142, ../resources/scss/_navi.scss */
      .menu--horizontal .menu--sub_item2:hover > a, .menu--horizontal .menu--sub_item2.active > a {
        color: #003cff; }
    /* line 150, ../resources/scss/_navi.scss */
    .menu--horizontal .menu--sub_item2:hover > .menu--sub, .menu--horizontal .menu--sub_item2:focus > .menu--sub {
      display: block;
      top: 0;
      left: 243px;
      width: 100%; }
  /* line 160, ../resources/scss/_navi.scss */
  .menu--horizontal .menu--sub_item3 {
    border-left: 1px solid #f8f5f5;
    border-bottom: 1px solid #d3d3d3; }
    /* line 165, ../resources/scss/_navi.scss */
    .menu--horizontal .menu--sub_item3.parent > a:after {
      content: '\f054'; }
    /* line 170, ../resources/scss/_navi.scss */
    .menu--horizontal .menu--sub_item3:hover, .menu--horizontal .menu--sub_item3.active {
      background: #3363ff;
      background: -webkit-linear-gradient(bottom, #003cff, #3363ff);
      background: linear-gradient(to top, #003cff, #3363ff);
      color: #fff;
      text-shadow: 0 1px #232323;
      border-left: 1px solid transparent;
      border-bottom: 1px solid #003cff; }
      /* line 178, ../resources/scss/_navi.scss */
      .menu--horizontal .menu--sub_item3:hover > a, .menu--horizontal .menu--sub_item3.active > a {
        color: #fff; }
    /* line 186, ../resources/scss/_navi.scss */
    .menu--horizontal .menu--sub_item3:hover > .menu--sub, .menu--horizontal .menu--sub_item3:focus > .menu--sub {
      display: block;
      top: 0;
      left: 242px;
      width: 100%; }
  /* line 196, ../resources/scss/_navi.scss */
  .menu--horizontal .menu--sub_item4 {
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
    text-shadow: none;
    color: #232323;
    text-decoration: underline; }
    /* line 204, ../resources/scss/_navi.scss */
    .menu--horizontal .menu--sub_item4:hover, .menu--horizontal .menu--sub_item4.active {
      color: #003cff; }
      /* line 208, ../resources/scss/_navi.scss */
      .menu--horizontal .menu--sub_item4:hover > a, .menu--horizontal .menu--sub_item4.active > a {
        color: #003cff; }

/* line 223, ../resources/scss/_navi.scss */
.menu--drop li {
  background: #fdfdfd;
  border-bottom: 1px solid #d3d3d3; }
/* line 229, ../resources/scss/_navi.scss */
.menu--drop a {
  line-height: 0.95;
  padding-right: 20px; }
/* line 237, ../resources/scss/_navi.scss */
.menu--drop .menu--sub {
  display: none;
  position: absolute;
  background: #fdfdfd;
  box-shadow: 0px 5px 5px -2px rgba(50, 50, 50, 0.7); }
  /* line 244, ../resources/scss/_navi.scss */
  .menu--drop .menu--sub li {
    padding-top: 3px; }
  /* line 249, ../resources/scss/_navi.scss */
  .menu--drop .menu--sub a {
    line-height: .95;
    padding-right: 20px; }
  /* line 255, ../resources/scss/_navi.scss */
  .menu--drop .menu--sub .fa {
    right: 10px; }
/* line 261, ../resources/scss/_navi.scss */
.menu--drop_item {
  border-left: 1px solid transparent;
  position: relative; }
  /* line 266, ../resources/scss/_navi.scss */
  .menu--drop_item.parent:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f054';
    font-size: 12px;
    right: 10px;
    top: 50%;
    margin-top: -5px; }
  /* line 276, ../resources/scss/_navi.scss */
  .menu--drop_item:hover, .menu--drop_item:focus, .menu--drop_item.active {
    border-left-color: #003cff;
    color: #003cff; }
    /* line 281, ../resources/scss/_navi.scss */
    .menu--drop_item:hover > a, .menu--drop_item:focus > a, .menu--drop_item.active > a {
      color: #003cff; }
  /* line 289, ../resources/scss/_navi.scss */
  .menu--drop_item:hover > .menu--sub, .menu--drop_item:focus > .menu--sub {
    display: block;
    left: 219px; }
  /* line 296, ../resources/scss/_navi.scss */
  .menu--drop_item .menu--sub {
    width: 100%;
    top: 0;
    z-index: 9999; }
    /* line 304, ../resources/scss/_navi.scss */
    .menu--drop_item .menu--sub_item2.parent:after {
      position: absolute;
      font-family: 'FontAwesome';
      content: '\f054';
      font-size: 12px;
      right: 10px;
      top: 50%;
      margin-top: -5px; }
    /* line 314, ../resources/scss/_navi.scss */
    .menu--drop_item .menu--sub_item2:hover, .menu--drop_item .menu--sub_item2:focus, .menu--drop_item .menu--sub_item2.active {
      background: #3363ff;
      background: -webkit-linear-gradient(bottom, #003cff, #3363ff);
      background: linear-gradient(to top, #003cff, #3363ff);
      color: #fff;
      text-shadow: 0 1px #232323;
      border-left: 1px solid transparent;
      border-bottom: 1px solid #0030cc; }
      /* line 322, ../resources/scss/_navi.scss */
      .menu--drop_item .menu--sub_item2:hover > a, .menu--drop_item .menu--sub_item2:focus > a, .menu--drop_item .menu--sub_item2.active > a {
        color: #fff; }
    /* line 330, ../resources/scss/_navi.scss */
    .menu--drop_item .menu--sub_item2:hover .menu--sub, .menu--drop_item .menu--sub_item2:focus .menu--sub {
      display: block;
      left: 218px; }
    /* line 338, ../resources/scss/_navi.scss */
    .menu--drop_item .menu--sub_item3 {
      padding-left: 15px;
      color: #232323;
      text-shadow: none; }
      /* line 344, ../resources/scss/_navi.scss */
      .menu--drop_item .menu--sub_item3:before {
        font-family: 'Fontawesome';
        font-size: 6px;
        content: '\f111';
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -3px; }
      /* line 354, ../resources/scss/_navi.scss */
      .menu--drop_item .menu--sub_item3:hover, .menu--drop_item .menu--sub_item3:focus, .menu--drop_item .menu--sub_item3.active {
        color: #003cff; }
        /* line 358, ../resources/scss/_navi.scss */
        .menu--drop_item .menu--sub_item3:hover a, .menu--drop_item .menu--sub_item3:focus a, .menu--drop_item .menu--sub_item3.active a {
          color: #003cff; }

/* line 5, ../resources/scss/_pre-news.scss */
.pre-news__item {
  padding-left: 10px;
  position: relative; }
  /* line 10, ../resources/scss/_pre-news.scss */
  .pre-news__item:before {
    font-family: 'FontAwesome';
    color: #232323;
    position: absolute; }
  /* line 17, ../resources/scss/_pre-news.scss */
  .pre-news__item time {
    color: #a8a7a7;
    font-size: 12px;
    margin: 0;
    padding: 0; }
  /* line 25, ../resources/scss/_pre-news.scss */
  .pre-news__item-title {
    margin: 3px 0 5px; }
    /* line 29, ../resources/scss/_pre-news.scss */
    .pre-news__item-title a {
      color: #232323;
      font-weight: 700;
      text-decoration: underline; }
      /* line 36, ../resources/scss/_pre-news.scss */
      .pre-news__item-title a:hover {
        color: #003cff; }
  /* line 43, ../resources/scss/_pre-news.scss */
  .pre-news__item-image {
    width: 100%;
    border: 3px solid #232323;
    border-radius: 3px; }
    /* line 49, ../resources/scss/_pre-news.scss */
    .pre-news__item-image + .more {
      right: 5px !important;
      bottom: 5px !important; }
  /* line 56, ../resources/scss/_pre-news.scss */
  .pre-news__item-anounce {
    margin: 0;
    font-size: 14px; }
  /* line 62, ../resources/scss/_pre-news.scss */
  .pre-news__item .more {
    color: #d3d3d3;
    position: absolute;
    right: 0;
    bottom: 0; }
    /* line 69, ../resources/scss/_pre-news.scss */
    .pre-news__item .more:hover {
      color: #003cff; }
/* line 78, ../resources/scss/_pre-news.scss */
.pre-news--flags {
  padding-left: 10px; }
  /* line 82, ../resources/scss/_pre-news.scss */
  .pre-news--flags .pre-news__item {
    margin-bottom: 7px; }
    /* line 86, ../resources/scss/_pre-news.scss */
    .pre-news--flags .pre-news__item:before {
      content: '\f02e';
      top: 3px;
      left: -10px; }
/* line 95, ../resources/scss/_pre-news.scss */
.pre-news .all-news {
  margin-left: -10px;
  width: calc(100% + 10px); }

/* line 8, ../resources/scss/_catalog.scss */
.goods__item {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 10px;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear; }
  /* line 16, ../resources/scss/_catalog.scss */
  .goods__item:hover {
    border-color: #668aff;
    box-shadow: 0 0 7px #003cff; }
  /* line 22, ../resources/scss/_catalog.scss */
  .goods__item-img img {
    width: 100%; }
  /* line 27, ../resources/scss/_catalog.scss */
  .goods__item-title {
    text-align: center; }
  /* line 32, ../resources/scss/_catalog.scss */
  .goods__item-img, .goods__item-title {
    margin-bottom: 10px; }
  /* line 37, ../resources/scss/_catalog.scss */
  .goods__item-price {
    font-size: 19px;
    text-align: center; }
    /* line 42, ../resources/scss/_catalog.scss */
    .goods__item-price > .fa {
      font-size: 17px; }
  /* line 48, ../resources/scss/_catalog.scss */
  .goods__item-oldprice {
    color: #d3d3d3;
    text-decoration: line-through;
    font-size: 12px; }
  /* line 55, ../resources/scss/_catalog.scss */
  .goods__item-amount {
    width: 25%;
    float: left;
    margin-right: 10px; }
    /* line 61, ../resources/scss/_catalog.scss */
    .goods__item-amount input {
      width: 100%; }
    /* line 66, ../resources/scss/_catalog.scss */
    .goods__item-amount + input {
      float: right;
      width: calc(75% - 10px); }
  /* line 73, ../resources/scss/_catalog.scss */
  .goods__item hr {
    margin: 10px 0; }

/* line 1, ../resources/scss/_custom.scss */
pre {
  background: #d3d3d3;
  padding: 10px 10px 10px 20px;
  word-wrap: break-word; }

/* line 8, ../resources/scss/_custom.scss */
.pre-title {
  margin-top: 10px; }
  /* line 12, ../resources/scss/_custom.scss */
  .pre-title + pre {
    margin-top: 0; }

/* line 18, ../resources/scss/_custom.scss */
section {
  background: #ededed;
  padding-top: 10px;
  margin-bottom: 20px; }
