@charset "UTF-8";
/*! Some Grids by Mika Spell v 1.1.3 */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.box {
  margin-left: -10px;
  margin-right: -10px;
}

.sgrid-1, .sgrid-2, .sgrid-3, .sgrid-4, .sgrid-5, .sgrid-6, .sgrid-7, .sgrid-8, .sgrid-9, .sgrid-10, .sgrid-11, .sgrid-12 {
  min-height: 1px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.inline > .sgrid-1, .inline > .sgrid-2, .inline > .sgrid-3, .inline > .sgrid-4, .inline > .sgrid-5, .inline > .sgrid-6, .inline > .sgrid-7, .inline > .sgrid-8, .inline > .sgrid-9, .inline > .sgrid-10, .inline > .sgrid-11, .inline > .sgrid-12 {
  display: inline;
  zoom: 1;
  display: inline-block;
  margin-right: -4.4px;
  margin-bottom: 10px;
  vertical-align: top;
}

.float > .sgrid-1, .float > .sgrid-2, .float > .sgrid-3, .float > .sgrid-4, .float > .sgrid-5, .float > .sgrid-6, .float > .sgrid-7, .float > .sgrid-8, .float > .sgrid-9, .float > .sgrid-10, .float > .sgrid-11, .float > .sgrid-12 {
  float: left;
}

.flex > .sgrid-1, .flex > .sgrid-2, .flex > .sgrid-3, .flex > .sgrid-4, .flex > .sgrid-5, .flex > .sgrid-6, .flex > .sgrid-7, .flex > .sgrid-8, .flex > .sgrid-9, .flex > .sgrid-10, .flex > .sgrid-11, .flex > .sgrid-12 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.inline {
  text-align: left;
}

.float {
  *zoom: 1;
}
.float:before, .float:after {
  display: table;
  content: "";
  line-height: 0;
}
.float:after {
  clear: both;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

/* Grid system */
.sgrid-1 {
  width: 8.3333333%;
}

.sgrid-2 {
  width: 16.6666667%;
}

.sgrid-3 {
  width: 25%;
}

.sgrid-4 {
  width: 33.3333333%;
}

.sgrid-5 {
  width: 41.6666667%;
}

.sgrid-6 {
  width: 50%;
}

.sgrid-7 {
  width: 58.3333333%;
}

.sgrid-8 {
  width: 66.6666667%;
}

.sgrid-9 {
  width: 75%;
}

.sgrid-10 {
  width: 83.3333333%;
}

.sgrid-11 {
  width: 91.6666667%;
}

.sgrid-12 {
  width: 100%;
}

.pre-1 {
  margin-left: 8.3333333%;
}

.post-1 {
  margin-right: 8.3333333%;
}

.pre-2 {
  margin-left: 16.6666667%;
}

.post-2 {
  margin-right: 16.6666667%;
}

.pre-3 {
  margin-left: 25%;
}

.post-3 {
  margin-right: 25%;
}

.pre-4 {
  margin-left: 33.3333333%;
}

.post-4 {
  margin-right: 33.3333333%;
}

.pre-5 {
  margin-left: 41.6666667%;
}

.post-5 {
  margin-right: 41.6666667%;
}

.pre-6 {
  margin-left: 50%;
}

.post-6 {
  margin-right: 50%;
}

.pre-7 {
  margin-left: 58.3333333%;
}

.post-7 {
  margin-right: 58.3333333%;
}

.pre-8 {
  margin-left: 66.6666667%;
}

.post-8 {
  margin-right: 66.6666667%;
}

.pre-9 {
  margin-left: 75%;
}

.post-9 {
  margin-right: 75%;
}

.pre-10 {
  margin-left: 83.3333333%;
}

.post-10 {
  margin-right: 83.3333333%;
}

.pre-11 {
  margin-left: 91.6666667%;
}

.post-11 {
  margin-right: 91.6666667%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  padding-top: 2px;
  color: #a8a7a7;
}

input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="number"]::-moz-placeholder, textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  padding-top: 2px;
  color: #a8a7a7;
}

fieldset {
  padding: 5px 0 10px;
  border: 0;
  margin: 0;
  position: relative;
}
fieldset:last-of-type {
  padding-bottom: 5px;
}
fieldset input, fieldset textarea, fieldset select {
  margin-bottom: 5px;
}
fieldset input:last-child, fieldset textarea:last-child, fieldset select:last-child {
  margin-bottom: 0;
}
fieldset.text {
  text-align: center;
}
fieldset.text .form-separator {
  margin: 7px 0 7px;
}
fieldset.text a {
  color: #003cff;
  text-decoration: none;
}
fieldset.range input {
  display: inline-block;
  width: 35%;
}
fieldset.range span {
  margin-left: 3.5%;
}

legend {
  font-weight: bold;
}

input {
  position: relative;
  border: 1px solid #d3d3d3;
}
input::-webkit-input-placeholder {
  -webkit-transition: padding-left .3s linear;
          transition: padding-left .3s linear;
}
input::-moz-placeholder {
  transition: padding .3s linear;
}
input:focus, input:active {
  outline: 0;
}
input:focus::-webkit-input-placeholder, input:active::-webkit-input-placeholder {
  padding-left: 10px;
  -webkit-transition: padding-left .3s linear;
          transition: padding-left .3s linear;
}
input:focus::-moz-placeholder, input:active::-moz-placeholder {
  padding-left: 10px;
  transition: padding .3s linear;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
  width: 100%;
  padding: 2px 10px 4px;
  border-radius: 3px;
}
input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #999;
}
input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="number"]::-moz-placeholder {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #999;
}
input[type="number"] {
  padding: 2px 0 4px 10px;
}
input[type="submit"] {
  width: 100%;
  cursor: pointer;
}
input:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

select {
  width: 100%;
  padding: 2px 10% 4px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/select-arrow.png) 97% 55% no-repeat #fff;
  background-size: 12px 8px;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
}
select:focus, select:active {
  outline: none;
}

.error {
  position: absolute;
  top: 50%;
  right: 3%;
  margin-top: -5px;
  color: #f00;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.2em;
  margin-left: -.6em;
}
.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #003cff url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
  color: #222222;
  font-weight: bold;
}
.ui-widget-content {
  border: 1px solid #d3d3d3;
  background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
  color: #222;
}
.ui-state-default {
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  background: #fff url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
  font-weight: normal;
  color: #555;
  cursor: pointer;
}
.ui-state-default .inner-handle {
  display: block;
  content: '';
  position: relative;
  top: .2em;
  left: .2em;
  width: 9px;
  height: 9px;
  background: #ebebeb;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
}
.ui-state-default:focus, .ui-state-default:active {
  outline: none;
  border-color: #003cff;
}
.ui-state-hover .inner-handle {
  background: #003cff;
}

.range-slider {
  margin-top: 10px;
}

/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.3333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.2857143em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.1428571em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.1428571em;
  width: 2.1428571em;
  top: 0.1428571em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.8571429em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before,
.fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before,
.fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before,
.fa-users:before {
  content: "";
}

.fa-chain:before,
.fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before,
.fa-scissors:before {
  content: "";
}

.fa-copy:before,
.fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

.fa-legal:before,
.fa-gavel:before {
  content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before,
.fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before,
.fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before,
.fa-usd:before {
  content: "";
}

.fa-rupee:before,
.fa-inr:before {
  content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

.fa-won:before,
.fa-krw:before {
  content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before,
.fa-car:before {
  content: "";
}

.fa-cab:before,
.fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before,
.fa-rebel:before {
  content: "";
}

.fa-ge:before,
.fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-slider.circle-arrow .slick-prev:before, .slick-slider.circle-arrow .slick-next:before {
  background: #2e3032;
  border-radius: 50%;
  font-size: 26px;
}
.slick-slider.circle-arrow .slick-prev:before {
  padding: 10px 16px 8px 11px;
}
.slick-slider.circle-arrow .slick-next:before {
  padding: 10px 11px 8px 16px;
}
.slick-slider.square-arrow .slick-prev:before, .slick-slider.square-arrow .slick-next:before {
  background: #2e3032;
  border-radius: 10%;
}
.slick-slider.square-arrow .slick-prev:before {
  padding: 10px 8px 6px 4px;
}
.slick-slider.square-arrow .slick-next:before {
  padding: 10px 4px 6px 8px;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 70px;
  width: 50px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -35px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.4;
}

.slick-prev:before, .slick-next:before {
  font-family: "FontAwesome";
  font-size: 32px;
  line-height: 1;
  color: #fff;
  opacity: 0.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 20px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: 20px;
}
.slick-prev:before {
  content: "";
}
[dir="rtl"] .slick-prev:before {
  content: "";
}

.slick-next {
  right: 20px;
}
[dir="rtl"] .slick-next {
  left: 20px;
  right: auto;
}
.slick-next:before {
  content: "";
}
[dir="rtl"] .slick-next:before {
  content: "";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 13px;
  width: 13px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 0.75;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 13px;
  height: 13px;
  font-family: "FontAwesome";
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #003cff;
  opacity: 1;
}

* {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

img[src*="http://place"] {
  display: block;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

body {
  background-color: #f0f0f0;
  color: #232323;
}

.wrapper {
  background-color: #fff;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}

.row {
  padding-top: 10px;
}

.company_contacts {
  text-align: right;
}

.main_menu {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}
.main_menu-item {
  float: left;
  width: 156px;
  text-align: center;
}
.main_menu-item a {
  display: block;
  padding: 15px 0;
}

.form-menu {
  position: fixed;
  top: 50px;
  right: 0;
  width: 200px;
  background-color: #fff;
  border: 1px solid #416CBD;
  border-radius: 3px;
  font-family: tahoma;
  z-index: 99999;
}
.form-menu-title {
  background-color: #4E80DC;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  text-shadow: 0px 1px 2px #416CBD;
}
.form-menu_list {
  list-style-type: none;
  margin: 10px 0;
}
.form-menu_list-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.form-menu_list-title:first-child {
  margin-top: 5px;
}
.form-menu_list-item {
  padding-left: 10px;
  line-height: 1.3;
}
.form-menu_list-item a {
  color: #416CBD;
  text-decoration: none;
}
.form-menu_list-item a:hover {
  color: #ff0000;
  border-bottom: 1px dashed;
}

.full-width {
  background-color: #fff;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  box-shadow: 0 0 3px #e2e2e2;
  position: relative;
  z-index: 5;
}
.full-width .wrapper {
  border: 0;
}

.search {
  position: relative;
  min-width: 140px;
}
.search input[type="text"] {
  width: 100%;
  padding-right: 20px;
}
.search input[type="text"]:focus {
  box-shadow: 0 0 10px #003cff;
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
.search .search-button {
  position: absolute;
  top: 25%;
  margin-top: -3px;
  right: 5px;
  color: #003cff;
}
.search.search--circle input {
  border-radius: 10px;
}
.search.search--circle input[type='text'] {
  padding-right: 25px;
}
.search.search--circle .search-button {
  right: 8px;
}

.button {
  display: block;
  min-width: 100px;
  min-height: 25px;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #fff;
  padding: 4px 20px 6px;
  border: 0;
  border-radius: 3px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}
.button.button--blue {
  background-color: #003cff;
}
.button.button--green {
  background-color: #3cb878;
}

.captcha span {
  padding-left: 20px;
  color: red;
}
.captcha input {
  width: 80px;
  margin-left: 20px;
  text-align: center;
}

.block-separator {
  width: 100%;
  height: 2px;
  margin: 0 auto;
  padding: 0 20%;
  position: relative;
  margin-bottom: 5px;
}
.block-separator:before {
  width: 20%;
  height: 2px;
  content: '';
  background: -webkit-linear-gradient(left, rgba(168, 167, 167, 0) 0, rgba(206, 205, 205, 0.9) 100%);
  background: linear-gradient(to right, rgba(168, 167, 167, 0) 0, rgba(206, 205, 205, 0.9) 100%);
  position: absolute;
  top: 0;
  left: 0;
}
.block-separator:after {
  width: 20%;
  height: 2px;
  content: '';
  background: -webkit-linear-gradient(right, rgba(168, 167, 167, 0) 0, rgba(206, 205, 205, 0.9) 100%);
  background: linear-gradient(to left, rgba(168, 167, 167, 0) 0, rgba(206, 205, 205, 0.9) 100%);
  position: absolute;
  top: 0;
  right: 0;
}
.block-separator div {
  background: #cecdcd;
  width: inherit;
  height: inherit;
}

.widget {
  border: 1px solid #d3d3d3;
  margin-bottom: 20px;
}
.widget__title {
  background: #f4f3f3;
  background: -webkit-linear-gradient(bottom, #edeaea, #fcfcfc);
  background: linear-gradient(to top, #edeaea, #fcfcfc);
  color: #232323;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}
.widget__title span {
  float: left;
  font-weight: 700;
}
.widget__title a {
  float: right;
  text-decoration: underline;
  color: #003cff;
}
.widget__content {
  padding: 5px 10px 10px;
}

.goods-item {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 10px;
}
.goods-item__img, .goods-item__title {
  margin-bottom: 10px;
}
.goods-item__price {
  font-size: 19px;
  padding-bottom: 5px;
  text-align: center;
}
.goods-item__price > .fa {
  font-size: 17px;
}
.goods-item__oldprice {
  color: #a8a7a7;
  text-decoration: line-through;
}
.goods-item__amount {
  width: 25%;
  float: left;
  margin-right: 10px;
}
.goods-item__amount input {
  width: 100%;
}
.goods-item__amount + input {
  float: right;
  width: -webkit-calc(75% - 10px);
  width: calc(75% - 10px);
}

.user-info_links {
  text-align: right;
  padding-top: 3px;
}
.user-info_links a {
  font-size: 12px;
  color: #003cff;
  margin-right: 10px;
  text-decoration: none;
}
.user-info_links a:hover {
  text-decoration: underline;
}
.user-info_form input[type="text"] {
  border-radius: 3px;
  margin-right: 10px;
  width: 130px;
}

.main-menu {
  list-style: none;
  padding-left: 0;
}
.main-menu li {
  position: relative;
}
.main-menu .fa {
  font-size: 12px;
  position: absolute;
  top: 35%;
  right: 10%;
}
.main-menu a {
  text-decoration: none;
  color: #232323;
  display: block;
  padding: 10px;
}
.main-menu_item {
  float: left;
  background: #fdfdfd;
  width: 16.6666667%;
  text-align: center;
}
.main-menu_item:hover, .main-menu_item.active {
  background: -webkit-linear-gradient(bottom, #003cff, #668aff);
  background: linear-gradient(to top, #003cff, #668aff);
  color: #fff;
  text-shadow: 0 1px #232323;
}
.main-menu_item:hover > a, .main-menu_item.active > a {
  color: #fff;
}
.main-menu_item:hover .fst--sub, .main-menu_item:focus .fst--sub {
  display: block;
}
.main-menu.fst--sub, .main-menu.snd--sub, .main-menu.trd--sub {
  z-index: 99999;
}
.main-menu .fst--sub {
  top: 37px;
  left: 0;
  width: 150%;
}
.main-menu .fst--sub_item {
  text-align: left;
  border-bottom: 1px solid #a8a7a7;
  text-shadow: none;
  color: #232323;
}
.main-menu .fst--sub_item:hover, .main-menu .fst--sub_item.active {
  color: #003cff;
}
.main-menu .fst--sub_item:hover > a, .main-menu .fst--sub_item.active > a {
  color: #003cff;
}
.main-menu .fst--sub_item:hover .snd--sub, .main-menu .fst--sub_item:focus .snd--sub {
  display: block;
}
.main-menu .snd--sub {
  top: 0;
  left: 235px;
  width: 100%;
}
.main-menu .snd--sub_item {
  border-left: 1px solid #f8f5f5;
  border-bottom: 1px solid #a8a7a7;
}
.main-menu .snd--sub_item:hover, .main-menu .snd--sub_item.active {
  background: -webkit-linear-gradient(bottom, #003cff, #668aff);
  background: linear-gradient(to top, #003cff, #668aff);
  color: #fff;
  text-shadow: 0 1px #232323;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #003cff;
}
.main-menu .snd--sub_item:hover > a, .main-menu .snd--sub_item.active > a {
  color: #fff;
}
.main-menu .snd--sub_item:hover .trd--sub, .main-menu .snd--sub_item:focus .trd--sub {
  display: block;
}
.main-menu .trd--sub {
  top: 0;
  left: 234px;
  width: 100%;
}
.main-menu .trd--sub_item {
  text-align: left;
  border-bottom: 1px solid #a8a7a7;
  text-shadow: none;
  color: #232323;
  text-decoration: underline;
}
.main-menu .trd--sub_item:hover, .main-menu .trd--sub_item.active {
  color: #003cff;
}
.main-menu .trd--sub_item:hover > a, .main-menu .trd--sub_item.active > a {
  color: #003cff;
}

.fst--sub, .snd--sub, .trd--sub {
  display: none;
  position: absolute;
  background: #fdfdfd;
  box-shadow: 0px 5px 5px -2px rgba(50, 50, 50, 0.7);
}
.fst--sub a, .snd--sub a, .trd--sub a {
  line-height: .95;
  padding-right: 20px;
}
.fst--sub .fa, .snd--sub .fa, .trd--sub .fa {
  right: 10px;
}

.col-menu {
  padding-left: 0;
}
.col-menu a {
  text-decoration: none;
  color: #232323;
  display: block;
  padding: 10px;
}
.col-menu.drop-menu, .col-menu.acco-menu {
  list-style: none;
}
.col-menu.drop-menu ul, .col-menu.acco-menu ul {
  list-style: none;
}
.col-menu.drop-menu .fa, .col-menu.acco-menu .fa {
  font-size: 12px;
  position: absolute;
  top: 35%;
  right: 10px;
}
.col-menu.drop-menu .col-menu_item, .col-menu.acco-menu .col-menu_item {
  border-bottom: 1px solid #a8a7a7;
}
.col-menu.drop-menu .col-menu_item a, .col-menu.acco-menu .col-menu_item a {
  line-height: .95;
  padding-right: 20px;
}
.col-menu.drop-menu .col-menu_item:hover, .col-menu.drop-menu .col-menu_item:focus, .col-menu.drop-menu .col-menu_item.active, .col-menu.acco-menu .col-menu_item:hover, .col-menu.acco-menu .col-menu_item:focus, .col-menu.acco-menu .col-menu_item.active {
  color: #003cff;
}
.col-menu.drop-menu .col-menu_item:hover > a, .col-menu.drop-menu .col-menu_item:focus > a, .col-menu.drop-menu .col-menu_item.active > a, .col-menu.acco-menu .col-menu_item:hover > a, .col-menu.acco-menu .col-menu_item:focus > a, .col-menu.acco-menu .col-menu_item.active > a {
  color: #003cff;
}
.col-menu li {
  background: #fdfdfd;
  position: relative;
  border-bottom: 1px solid #a8a7a7;
}
.col-menu.drop-menu .col-menu_item {
  border-left: 1px solid transparent;
}
.col-menu.drop-menu .col-menu_item:hover, .col-menu.drop-menu .col-menu_item:focus, .col-menu.drop-menu .col-menu_item.active {
  border-left-color: #003cff;
}
.col-menu.drop-menu .col-menu_item:hover .fst--sub, .col-menu.drop-menu .col-menu_item:focus .fst--sub {
  display: block;
}
.col-menu.drop-menu .fst--sub {
  width: 100%;
  top: 0;
  left: 219px;
  z-index: 9999;
}
.col-menu.drop-menu .fst--sub_item:hover, .col-menu.drop-menu .fst--sub_item:focus, .col-menu.drop-menu .fst--sub_item.active {
  background: -webkit-linear-gradient(bottom, #003cff, #668aff);
  background: linear-gradient(to top, #003cff, #668aff);
  color: #fff;
  text-shadow: 0 1px #232323;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #003cff;
}
.col-menu.drop-menu .fst--sub_item:hover > a, .col-menu.drop-menu .fst--sub_item:focus > a, .col-menu.drop-menu .fst--sub_item.active > a {
  color: #fff;
}
.col-menu.drop-menu .fst--sub_item:hover .snd--sub, .col-menu.drop-menu .fst--sub_item:focus .snd--sub {
  display: block;
}
.col-menu.drop-menu .snd--sub {
  width: 100%;
  top: 0;
  left: 218px;
  z-index: 9999;
}
.col-menu.drop-menu .snd--sub_item {
  text-shadow: none;
}
.col-menu.drop-menu .snd--sub_item:hover, .col-menu.drop-menu .snd--sub_item:focus, .col-menu.drop-menu .snd--sub_item.active {
  color: #003cff;
}
.col-menu.drop-menu .snd--sub_item:hover a, .col-menu.drop-menu .snd--sub_item:focus a, .col-menu.drop-menu .snd--sub_item.active a {
  color: #003cff;
}
.col-menu.acco-menu .fst--sub, .col-menu.acco-menu .snd--sub {
  box-shadow: none;
  display: none;
  height: 0;
}
.col-menu.acco-menu .col-menu_item > .fa {
  color: #a8a7a7;
}
.col-menu.acco-menu .col-menu_item:hover > .fa, .col-menu.acco-menu .col-menu_item:focus > .fa, .col-menu.acco-menu .col-menu_item.active > .fa {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform .15s linear;
          transition: transform .15s linear;
  top: 12px;
  color: #003cff;
}
.col-menu.acco-menu .col-menu_item:hover .fst--sub, .col-menu.acco-menu .col-menu_item:focus .fst--sub, .col-menu.acco-menu .col-menu_item.active .fst--sub {
  width: 100%;
  display: block;
  position: relative;
  height: auto;
}
.col-menu.acco-menu .col-menu_item:hover .fst--sub_item, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item, .col-menu.acco-menu .col-menu_item.active .fst--sub_item {
  border-bottom: 0;
  padding-left: 10px;
}
.col-menu.acco-menu .col-menu_item:hover .fst--sub_item:first-child, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item:first-child, .col-menu.acco-menu .col-menu_item.active .fst--sub_item:first-child {
  border-top: 1px solid #a8a7a7;
}
.col-menu.acco-menu .col-menu_item:hover .fst--sub_item > a, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item > a, .col-menu.acco-menu .col-menu_item.active .fst--sub_item > a {
  text-decoration: underline;
}
.col-menu.acco-menu .col-menu_item:hover .fst--sub_item > .fa, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item > .fa, .col-menu.acco-menu .col-menu_item.active .fst--sub_item > .fa {
  top: 13px;
  color: #a8a7a7;
  font-size: 10px;
}
.col-menu.acco-menu .col-menu_item:hover .fst--sub_item:hover .snd--sub, .col-menu.acco-menu .col-menu_item:hover .fst--sub_item:focus .snd--sub, .col-menu.acco-menu .col-menu_item:hover .fst--sub_item.active .snd--sub, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item:hover .snd--sub, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item:focus .snd--sub, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item.active .snd--sub, .col-menu.acco-menu .col-menu_item.active .fst--sub_item:hover .snd--sub, .col-menu.acco-menu .col-menu_item.active .fst--sub_item:focus .snd--sub, .col-menu.acco-menu .col-menu_item.active .fst--sub_item.active .snd--sub {
  width: 100%;
  display: block;
  position: relative;
  height: auto;
}
.col-menu.acco-menu .col-menu_item:hover .fst--sub_item:hover > a, .col-menu.acco-menu .col-menu_item:hover .fst--sub_item:focus > a, .col-menu.acco-menu .col-menu_item:hover .fst--sub_item.active > a, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item:hover > a, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item:focus > a, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item.active > a, .col-menu.acco-menu .col-menu_item.active .fst--sub_item:hover > a, .col-menu.acco-menu .col-menu_item.active .fst--sub_item:focus > a, .col-menu.acco-menu .col-menu_item.active .fst--sub_item.active > a {
  text-decoration: none;
}
.col-menu.acco-menu .col-menu_item:hover .fst--sub_item:hover > .fa, .col-menu.acco-menu .col-menu_item:hover .fst--sub_item:focus > .fa, .col-menu.acco-menu .col-menu_item:hover .fst--sub_item.active > .fa, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item:hover > .fa, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item:focus > .fa, .col-menu.acco-menu .col-menu_item:focus .fst--sub_item.active > .fa, .col-menu.acco-menu .col-menu_item.active .fst--sub_item:hover > .fa, .col-menu.acco-menu .col-menu_item.active .fst--sub_item:focus > .fa, .col-menu.acco-menu .col-menu_item.active .fst--sub_item.active > .fa {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform .15s linear;
          transition: transform .15s linear;
  color: #003cff;
  right: 12px;
}
.col-menu.acco-menu .snd--sub_item {
  border-bottom: 0;
  border-left: 0;
  background: #1a4fff;
  padding-left: 10px;
  margin-left: -10px;
}
.col-menu.acco-menu .snd--sub_item a {
  color: #d9d9d9;
  padding-right: 22px;
  font-size: 12px;
  letter-spacing: .5px;
}
.col-menu.acco-menu .snd--sub_item a:after {
  font-family: 'FontAwesome';
  content: "\f111";
  font-size: 5px;
  position: absolute;
  top: 45%;
  right: 12px;
}
.col-menu.acco-menu .snd--sub_item:hover, .col-menu.acco-menu .snd--sub_item.active {
  background: #003bfa;
}
.col-menu.acco-menu .snd--sub_item:hover a, .col-menu.acco-menu .snd--sub_item.active a {
  color: #fff;
}
.col-menu.tree-menu, .col-menu.modtree-menu {
  list-style: none;
}
.col-menu.tree-menu ul, .col-menu.modtree-menu ul {
  list-style: none;
}
.col-menu.tree-menu li, .col-menu.modtree-menu li {
  border-bottom: 0;
}
.col-menu.tree-menu .col-menu_item {
  padding-left: 20px;
}
.col-menu.tree-menu .col-menu_item:before {
  font-family: 'FontAwesome';
  content: '\f111';
  font-size: 5px;
  position: absolute;
  top: 45%;
  left: 10px;
}
.col-menu.tree-menu .col-menu_item.parent:before {
  top: 16px;
}
.col-menu.tree-menu .col-menu_item:hover > li, .col-menu.tree-menu .col-menu_item:focus > li, .col-menu.tree-menu .col-menu_item.active > li {
  color: #003cff;
}
.col-menu.tree-menu .col-menu_item:hover > a, .col-menu.tree-menu .col-menu_item:focus > a, .col-menu.tree-menu .col-menu_item.active > a {
  color: #003cff;
}
.col-menu.tree-menu .col-menu_item:hover:before, .col-menu.tree-menu .col-menu_item:focus:before, .col-menu.tree-menu .col-menu_item.active:before {
  color: #003cff;
}
.col-menu.tree-menu .fst--sub-tree_item {
  padding-left: 10px;
}
.col-menu.tree-menu .fst--sub-tree_item:before {
  font-family: 'FontAwesome';
  content: '\f10c';
  font-size: 7px;
  position: absolute;
  top: 44%;
  left: 0;
}
.col-menu.tree-menu .fst--sub-tree_item.parent:before {
  top: 16px;
}
.col-menu.tree-menu .fst--sub-tree_item > a {
  text-decoration: underline;
}
.col-menu.tree-menu .fst--sub-tree_item:hover > a, .col-menu.tree-menu .fst--sub-tree_item:focus > a, .col-menu.tree-menu .fst--sub-tree_item.active > a {
  color: #003cff;
  text-decoration: none;
}
.col-menu.tree-menu .fst--sub-tree_item:hover:before, .col-menu.tree-menu .fst--sub-tree_item:focus:before, .col-menu.tree-menu .fst--sub-tree_item.active:before {
  color: #003cff;
}
.col-menu.tree-menu .snd--sub-tree_item {
  padding-left: 10px;
}
.col-menu.tree-menu .snd--sub-tree_item:before {
  font-family: 'FontAwesome';
  content: '\f068';
  font-size: 7px;
  position: absolute;
  top: 44%;
  left: 0;
}
.col-menu.tree-menu .snd--sub-tree_item:hover > a, .col-menu.tree-menu .snd--sub-tree_item:focus > a, .col-menu.tree-menu .snd--sub-tree_item.active > a {
  color: #003cff;
}
.col-menu.tree-menu .snd--sub-tree_item:hover:before, .col-menu.tree-menu .snd--sub-tree_item:focus:before, .col-menu.tree-menu .snd--sub-tree_item.active:before {
  color: #003cff;
}
.col-menu.modtree-menu .col-menu_item {
  overflow: hidden;
  border: 0;
}
.col-menu.modtree-menu .col-menu_item:hover > a, .col-menu.modtree-menu .col-menu_item:focus > a, .col-menu.modtree-menu .col-menu_item.active > a {
  position: relative;
  width: 99.9%;
  background: -webkit-linear-gradient(bottom, #003cff, #668aff);
  background: linear-gradient(to top, #003cff, #668aff);
  color: #fff;
  overflow: hidden;
  border: 0;
}
.col-menu.modtree-menu .col-menu_item:hover > a:before, .col-menu.modtree-menu .col-menu_item:hover > a:after, .col-menu.modtree-menu .col-menu_item:focus > a:before, .col-menu.modtree-menu .col-menu_item:focus > a:after, .col-menu.modtree-menu .col-menu_item.active > a:before, .col-menu.modtree-menu .col-menu_item.active > a:after {
  position: absolute;
  right: -13px;
  width: 35px;
  height: 20px;
  content: "";
  background: #fff;
}
.col-menu.modtree-menu .col-menu_item:hover > a:before, .col-menu.modtree-menu .col-menu_item:focus > a:before, .col-menu.modtree-menu .col-menu_item.active > a:before {
  top: -10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.col-menu.modtree-menu .col-menu_item:hover > a:after, .col-menu.modtree-menu .col-menu_item:focus > a:after, .col-menu.modtree-menu .col-menu_item.active > a:after {
  top: 27px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.col-menu.modtree-menu .fst--sub-modtree_item {
  padding-left: 5px;
  margin-left: 10px;
}
.col-menu.modtree-menu .fst--sub-modtree_item:before {
  font-family: 'FontAwesome';
  content: '\f04b';
  font-size: 7px;
  position: absolute;
  top: 44%;
  left: 0;
  color: #a8a7a7;
}
.col-menu.modtree-menu .fst--sub-modtree_item.parent:before {
  top: 16px;
}
.col-menu.modtree-menu .fst--sub-modtree_item:hover:before, .col-menu.modtree-menu .fst--sub-modtree_item:focus:before, .col-menu.modtree-menu .fst--sub-modtree_item.active:before {
  color: #003cff;
}
.col-menu.modtree-menu .fst--sub-modtree_item:hover > a, .col-menu.modtree-menu .fst--sub-modtree_item:focus > a, .col-menu.modtree-menu .fst--sub-modtree_item.active > a {
  color: #003cff;
}
.col-menu.modtree-menu .snd--sub-modtree {
  border-left: 3px solid #a8a7a7;
}
.col-menu.modtree-menu .snd--sub-modtree_item {
  padding-left: 5px;
}
.col-menu.modtree-menu .snd--sub-modtree_item:before {
  font-family: 'FontAwesome';
  content: '\f111';
  font-size: 10px;
  position: absolute;
  top: 39%;
  left: -5.2px;
  color: #fff;
}
.col-menu.modtree-menu .snd--sub-modtree_item a:before {
  font-family: 'FontAwesome';
  content: '\f111';
  font-size: 7px;
  position: absolute;
  top: 44%;
  left: -5px;
  padding-left: 1px;
  color: #a8a7a7;
}
.col-menu.modtree-menu .snd--sub-modtree_item.first a {
  padding-top: 0;
  margin-top: 5px;
}
.col-menu.modtree-menu .snd--sub-modtree_item.last a {
  padding-bottom: 0;
  margin-bottom: 10px;
}
.col-menu.modtree-menu .snd--sub-modtree_item:hover a, .col-menu.modtree-menu .snd--sub-modtree_item:focus a, .col-menu.modtree-menu .snd--sub-modtree_item.active a {
  color: #003cff;
}
.col-menu.modtree-menu .snd--sub-modtree_item:hover a:before, .col-menu.modtree-menu .snd--sub-modtree_item:focus a:before, .col-menu.modtree-menu .snd--sub-modtree_item.active a:before {
  color: #003cff;
}

.pre-news__item {
  padding-left: 10px;
  position: relative;
}
.pre-news__item:before {
  font-family: 'FontAwesome';
  color: #232323;
  position: absolute;
}
.pre-news__item time {
  color: #a8a7a7;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.pre-news__item-title {
  margin-bottom: 5px;
}
.pre-news__item-title a {
  color: #232323;
  font-weight: 700;
  text-decoration: underline;
}
.pre-news__item-title a:hover {
  color: #003cff;
}
.pre-news__item-image {
  display: block;
  border: 3px solid #232323;
  border-radius: 3px;
}
.pre-news__item-image + .more {
  right: 5px !important;
  bottom: 5px !important;
}
.pre-news__item-anounce {
  margin: 0;
}
.pre-news__item .more {
  color: #a8a7a7;
  position: absolute;
  right: 0;
  bottom: 0;
}
.pre-news__item .more:hover {
  color: #003cff;
}
.pre-news--flags {
  padding-left: 10px;
}
.pre-news--flags .pre-news__item {
  margin-bottom: 7px;
}
.pre-news--flags .pre-news__item:before {
  content: '\f02e';
  top: 3px;
  left: -10px;
}
.pre-news--dots .pre-news__item {
  padding-left: 10px;
  padding-bottom: 7px;
}
.pre-news--dots .pre-news__item:last-child:after {
  background: transparent;
}
.pre-news--dots .pre-news__item:before {
  content: '\f111';
  font-size: 12px;
  width: 12px;
  top: 5px;
  left: -6.5px;
  text-align: center;
  z-index: 9;
}
.pre-news--dots .pre-news__item:after {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 6px;
  left: -1.5px;
  background: #232323;
}
.pre-news--dots .pre-news__item:hover:before {
  height: 12px;
  color: #fff;
  font-size: 7px;
  background: #fff;
  border: 2px solid #003cff;
  border-radius: 50%;
}
.pre-news .all-news {
  margin-left: -10px;
}

/*# sourceMappingURL=style.css.map */