pre {

	background: $baseSecColor;
	padding: 10px 10px 10px 20px;
	word-wrap: break-word;
}

.pre-title {

	margin-top: 10px;

	& + pre {

		margin-top: 0;
	}
}

section {

	background: #ededed;
	padding-top: 10px;
	margin-bottom: 20px;
}