$inputAnime: true;   // true или false

// Style for placeholders

::-webkit-input-placeholder {

	font-family: $baseFamily;
    font-size: $baseFSize - 5;
    font-weight: $baseFWeight;
    padding-top: 2px;
    color: $baseSecColor;
}

::-moz-placeholder {

	font-family: $baseFamily;
    font-size: $baseFSize - 5;
    font-weight: $baseFWeight;
    padding-top: 2px;
    color: $baseSecColor;
}

:-moz-placeholder {

	font-family: $baseFamily;
    font-size: $baseFSize - 5;
    font-weight: $baseFWeight;
    padding-top: 2px;
    color: $baseSecColor;
}

:-ms-input-placeholder {

	font-family: $baseFamily;
    font-size: $baseFSize - 5;
    font-weight: $baseFWeight;
    padding-top: 2px;
    color: $baseSecColor;
}

fieldset {

	position: relative;
	padding: 5px 0 10px;
	margin: 0;
	border: 0;

	&:last-of-type {

		padding-bottom: 5px;
	}

	& input, & textarea, & select {

		margin-bottom: 5px;

		&:last-child {

			margin-bottom: 0;
		}
	} 

	&.text {

		text-align: center;

		a {

			color: $baseColor;
			text-decoration: $linkDecor;
		}
	}

	&.checkboxes, &.radios {

		label {

			display: block;
			padding-bottom: 5px;

			&:last-of-type {

				padding-bottom: 0;
			}

			input {

				display: none;

				+ span:before {

					width: $baseFSize + 1;
					display: inline-block;
					font-family: "FontAwesome";
					color: $textColor;
				}
			}
		}

		&.disabled label {

			opacity: 0.65;
	  	cursor: not-allowed;
		}
	}

	&.checkboxes {

		label {

			padding-left: 5px;

			input {

				+ span:before {

					content: "\f096";
				}

				&:checked {

					+ span:before {

						content: '\f046';
						color: $baseColor;
					}
				}
			}
		}
	}

	&.radios {

		label {

			padding-left: 3px;

			input {

				+ span:before {

					content: "\f10c";
				}

				&:checked {

					+ span:before {

						content: '\f192';
						color: $baseColor;
					}
				}
			}
		}
	}

	&.range {

		input {

			display: inline-block;
			width: 35%;
		}

		span {

			margin-left: 3.5%;
		}

		.disabled {

			opacity: 0.65;
	  	cursor: not-allowed; 

  		* {

  			opacity: inherit;
  			cursor: inherit;
  		}
		}
	}
}

legend, label {

	font-weight: bold;
}

label {

	cursor: pointer;	
}

input {

	position: relative;
	color: $textColor;
	width: 100%;
	padding: 3px 10px;
	border: 1px solid $borderColor;
	border-radius: $bordersRadius;

	@if $inputAnime == true {

		&::-webkit-input-placeholder {
				
			transition: all 0.15s ease;		
		}

		&:focus, &:active {

			outline: 0;
			border-color: $baseColor;

			&::-webkit-input-placeholder {
				
				color: $baseColor;
				padding-left: 10px;		
			}

			&::-moz-placeholder {

				color: transparent;		
			}

			&:-moz-placeholder {

				color: transparent;	
			}

			&:-ms-input-placeholder {
				
				color: transparent;		
			}
		}
	} @else if $inputAnime == false {

		&:focus, &:active {

			outline: 0;
			border-color: $baseColor;
		}
	}

	&[type="text"], &[type="email"] {

		padding: 3px 10px;
	}

	&[type="checkbox"] {

		width: auto;
		display: inline-block;
		margin-right: 5px;
	}

	&[type="password"] {

		padding-top: 6px;

		&::-webkit-input-placeholder {
				
			padding-top: 0;	
		}

		&::-moz-placeholder {

			padding-top: 0 !important;	
		}

		&:-moz-placeholder {

			padding-top: 0 !important;	
		}

		&:-ms-input-placeholder {
			
			padding-top: 0;		
		}

	}

	&[type="number"] {

		padding: 2px 0 4px 10px;
	}

	&[type="submit"] {

		padding-top: 5px;
		cursor: pointer;
	}
}

select {

	width: 100%;
	padding: 4px 10% 4px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(#{$imagePath}/select-arrow.png) 97% 55% no-repeat $baseTrdColor;
	background-size: 12px 8px;
	border: 1px solid $borderColor;
	border-radius: $bordersRadius;
	cursor: pointer;

	&:focus, &:active {

		outline: none;

		@if $inputAnime == true {

			border-color: $baseColor;
		}
	}
}

textarea {

	display: block;
	width: 100%;
	min-height: 150px;
	padding: 10px;
	border: 1px solid $borderColor;
	border-radius: $bordersRadius;

	&:focus, &:active {

		outline: none;
	}

	@if $inputAnime == true {

		&::-webkit-input-placeholder {
				
			transition: all 0.15s ease;		
		}

		&:focus, &:active {

			outline: 0;
			border-color: $baseColor;

			&::-webkit-input-placeholder {
				
				color: $baseColor;
				padding-left: 10px;		
			}

			&::-moz-placeholder {

				color: transparent;		
			}

			&:-moz-placeholder {

				color: transparent;	
			}

			&:-ms-input-placeholder {
				
				color: transparent;		
			}
		}
	} @else if $inputAnime == false {

		&:focus, &:active {

			outline: 0;
			border-color: $baseColor;
		}
	}
}

button, input, select, textarea {

	&[disabled] {

	  	opacity: 0.65;
	  	cursor: not-allowed;
	}
}

.error {

	position: absolute;
	height: 16px; 
	top: 50%;
	right: 3%;
	margin-top: -8px;
	color: #f00;
}


// type range
// from jQuery UI - v1.11.4

.ui {

	&-slider {

		position: relative;
		text-align: left;

		&-handle {

			position: absolute;
			z-index: 2;
			width: 1.2em;
			height: 1.2em;
			cursor: default;
			-ms-touch-action: none;
			touch-action: none;			
		}

		&-range {

			position: absolute;
			z-index: 1;
			font-size: 0.7em;
			display: block;
			cursor: pointer;
		}

		&.ui-state-disabled &-handle, &.ui-state-disabled &-range {

			filter:inherit;
		}

		&-horizontal {

			height: 0.8em;
			margin-top: 10px;
			border-radius: $bordersRadius;

			.ui-slider-handle {

				top: -0.26em;
				margin-left: -0.6em;
			}

			.ui-slider-range {

				top: 0;
				height: 100%;

				&-min {

					left: 0;
				}

				&-max {

					right: 0;
				}
			}
		}
	}

	&-state-default, &-widget-content &-state-default, &-widget-header &-state-default {

		background: $baseTrdColor;
		border: 2px solid $textColor;
		border-radius: $bordersRadius + 2;
		cursor: pointer;
	}

	&-state-default, &-widget-content &-state-hover {

		border-color: red;
	}

	&-state-focus {

		outline: none;
		border-color: red;
	}

	&-widget-content {

		background: $baseTrdColor;
		border: $borders;
	}

	&-widget-header {

		background: $baseColor;
	}

}

.range-slider {

	margin-top: 10px;
	border-radius: $bordersRadius;
}