$passive-item-bg: #fdfdfd;

$horizontalDrop: true; 	// true или false - наличие выпадашки
$verticalOn: true; 		// true или false - наличие вертикального меню 
$verticalType: drop; 	// drop, acco, tree или mtree - тип вертикального меню
$verticalDrop: true; 	// true или false - наличие выпадашки в вертикальном меню (только для типов drop и acco)
$icoSize: 12px;

@mixin numItems($num) {

	width: 100% / $num;
}

// Навигация горизонтальная

.menu {

	li {

		position: relative;
		padding-top: 2px;
	}

	a {

		text-decoration: $linkDecor;
		color: $textColor;
		display: block;
		padding: 10px;
	}

	&--horizontal {

		@if $horizontalDrop == true {

			.parent a {

				position: relative;

				&:after {

					font-family: 'FontAwesome';
					position: absolute;
				}
			}
		}

		&_item {

			float: left;
			background: $passive-item-bg;
			@include numItems(6);
			text-align: center;
			position: relative;

			&:hover, &.active {

				@include one-way-gradient(to top, $baseColor);
				color: $baseTrdColor;
				text-shadow: 0 1px $textColor;

				& > a {

					color: $baseTrdColor;
				}
			}

			@if $horizontalDrop == true {

				&.parent > a {

					padding-right: 15%;

					&:after {

						content: '\f078';
						right: 5%;
						@include icoVPosition(16px);
					}
				}

				&:hover, &:focus {

					> .menu--sub {

						display: block;
					}
				}
			}
		}

		@if $horizontalDrop == true {			

			.menu--sub {
	
				display: none;
				position: absolute;
				background: $passive-item-bg;
				box-shadow: 0px 5px 5px -2px rgba(50, 50, 50, 0.7);
				z-index: 99999;

				li {

					padding-top: 3px;
				}

				a {

					line-height: .95;
					padding-right: 20px;

					&:after {

						right: 10px;
					}
				}
			}
			
			.menu--sub {

				top: 38px;
				left: 0;
				width: 155%;


				&_item2 {

					text-align: left;
					border-bottom: 1px solid $baseSecColor;
					text-shadow: none;
					color: $textColor;

					&.parent > a:after {

						content: '\f054';
					}

					&:hover, &.active {

						color: $baseColor;

						& > a {

							color: $baseColor;
						}
					}

					&:hover, &:focus {

						> .menu--sub {

							display: block;
							top: 0;
							left: 243px;
							width: 100%;
						}
					}
				}

				&_item3 {

					border-left: 1px solid #f8f5f5;
					border-bottom: 1px solid $baseSecColor;

					&.parent > a:after {

						content: '\f054';
					}

					&:hover, &.active {

						@include one-way-gradient(to top, $baseColor);
						color: $baseTrdColor;
						text-shadow: 0 1px $textColor;
						border-left: 1px solid transparent;
						border-bottom: 1px solid $baseColor;

						& > a {

							color: $baseTrdColor;
						}
					}

					&:hover, &:focus {

						> .menu--sub {

							display: block;
							top: 0;
							left: 242px;
							width: 100%;
						}
					}
				}

				&_item4 {

					text-align: left;
					border-bottom: 1px solid $baseSecColor;
					text-shadow: none;
					color: $textColor;
					text-decoration: underline;

					&:hover, &.active {

						color: $baseColor;

						& > a {

							color: $baseColor;
						}
					}
				}
			}
		}
	}
}

@if $verticalOn == true and $verticalType == drop or $verticalOn == true and $verticalType == acco {

.menu--#{$verticalType} {

	li {

		background: $passive-item-bg;
		border-bottom: 1px solid $baseSecColor;
	}

	a {

		line-height: 0.95;
		padding-right: 20px;
	}

	@if $verticalDrop == true and $verticalType == drop {                 // Есть выпадашка и тип дроп

		.menu--sub {
	
			display: none;
			position: absolute;
			background: $passive-item-bg;
			@if $verticalType == drop or $horizontalDrop == true {box-shadow: 0px 5px 5px -2px rgba(50, 50, 50, 0.7);}

			li {

				padding-top: 3px;
			}

			a {

				line-height: .95;
				padding-right: 20px;
			}

			.fa {

				right: 10px;
			}
		}

		&_item {

			border-left: 1px solid transparent;
			position: relative;

			&.parent:after {

				position: absolute;
				font-family: 'FontAwesome';
				content: '\f054';
				font-size: $icoSize;
				right: 10px;
				@include icoVPosition(10px);
			}

			&:hover, &:focus, &.active {

				border-left-color: $baseColor;
				color: $baseColor;

				> a {

					color: $baseColor;
				}
			}
			
			&:hover, &:focus {

				> .menu--sub {

					display: block;
					left: 219px;
				}
			}

			.menu--sub {

				width: 100%;
				top: 0;
				z-index: 9999;

				&_item2 {

					&.parent:after {

						position: absolute;
						font-family: 'FontAwesome';
						content: '\f054';
						font-size: $icoSize;
						right: 10px;
						@include icoVPosition(10px);
					}

					&:hover, &:focus, &.active {

						@include one-way-gradient(to top, $baseColor);
						color: $baseTrdColor;
						text-shadow: 0 1px $textColor;
						border-left: 1px solid transparent;
						border-bottom: 1px solid darken($baseColor, 10%);

						> a {

							color: $baseTrdColor;
						}
					}

					&:hover, &:focus{

						.menu--sub {

							display: block;
							left: 218px;
						}
					}
				}

				&_item3 {

					padding-left: 15px;
					color: $textColor;
					text-shadow: none; 

					&:before {

						font-family: 'Fontawesome';
						font-size: 6px;
						content: '\f111';
						position: absolute;
						left: 10px;
						@include icoVPosition(6px);
					}

					&:hover, &:focus, &.active {

						color: $baseColor;

						a {

							color: $baseColor;
						}
					}
				}
			}
		}

	} @else if $verticalDrop == true and $verticalType == acco {       // Тип аккордеон

		.menu--sub {
	
			display: none;
			position: absolute;
			background: $passive-item-bg;
			@if $verticalType == drop or $horizontalDrop == true {box-shadow: 0px 5px 5px -2px rgba(50, 50, 50, 0.7);}

			li {

				padding-top: 3px;
			}

			a {

				line-height: .95;
				padding-right: 20px;
			}

			.fa {

				right: 10px;
			}
		}

		.parent > a {

			position: relative;

			&:after {

				font-family: 'FontAwesome';
				color: lighten($textColor, 40%);
				position: absolute;
				right: 10px;
				transition: all .5s linear;
				line-height: 1;
				text-align: center;
			}
		}

		&_item {

			&.parent > a {

				&:after {

					content: '\f138';
					font-size: $icoSize;
					width: $icoSize;
					@include icoVPosition($icoSize);
				}
			}

			&:hover, &:focus, &.active {

				> a {

					color: $baseColor;						
				}

				&.parent > a:after {

					content: '\f13a';
					color: $baseColor;
				}

				> .menu--sub {
				
					width: 100%;
					display: block;
					position: relative;
					height: auto;					
				}
			}

			.menu--sub {

				&_item2 {

					border-bottom: 0 !important;
					padding-left: 10px;

					&:first-child {

						border-top: 1px solid $baseSecColor;
					}

					> a {

						text-decoration: underline;
					}

					&.parent {

						> a {

							&:after {

								font-size: 10px;
								content: '\f054';
								right: 12px;
								@include icoVPosition(10px);
							}
						}

						&:hover, &:focus, &.active {

							> a {

								text-decoration: none;

								&:after {

									content: '\f078';
									right: 11px;
									color: $textColor;
								}
							}
						}
					}

					&:hover, &:focus, &.active {

						> a {

							text-decoration: none;
						}

						> .menu--sub {

							width: 100%;
							display: block;
							position: relative;
							height: auto;
						}
					}
				}

				&_item3 {

					border-bottom: 0 !important;
					background: lighten($baseColor, 5%) !important;
					padding-left: 10px;
					margin-left: -10px;

					a {

						color: darken($baseTrdColor, 15%);
						padding-right: 22px;
						font-size: 12px;
						letter-spacing: 0.5px;

						&:after {

							font-family: 'FontAwesome';
							content: "\f111";
							position: absolute;
							font-size: 6px;
							width: 6px;	
							right: 13px;
							@include icoVPosition(6px);
						}
					}

					&:hover, &:focus, &.active {

						background: darken($baseColor, 1%) !important;

						a {

							color: $baseTrdColor;

							&:after {

								color: $baseTrdColor;
							}
						}
					}
				}
			}
		}

	} @else if $verticalDrop == false and $verticalType == drop {           // Нет выпадашки и тип дроп

		&_item {

			border-left: 1px solid transparent;

			a {

				line-height: 0.95;
			}

			.fa {
				
				display: none;
			}		

			&:hover, &:focus, &.active {

				a {

					color: $baseColor;
				}
			}	
		}

	} @else if $verticalDrop == false and $verticalType == acco {        // Нет выпадашки и тип аккордеон

		.parent > a {

			position: relative;

			&:after {

				font-family: 'FontAwesome';
				color: lighten($textColor, 40%);
				position: absolute;
				right: 10px;
				line-height: 1;
				text-align: center;
			}
		}

		.menu--sub {
				
			width: 100%;
			display: block;
			position: relative;
			height: auto;					
		}

		&_item {

			&.parent > a {

				&:after {

					content: '\f13a';
					font-size: $icoSize;
					width: $icoSize;
					@include icoVPosition($icoSize);					
					color: $baseColor;
				}
			}

			&:hover, &:focus, &.active {

				> a {

					color: $baseColor;						
				}
			}

			.menu--sub {

				&_item2 {

					border-bottom: 0 !important;
					padding-left: 10px;

					&:first-child {

						border-top: 1px solid $baseSecColor;
					}

					> a {

						text-decoration: underline;
					}

					&.parent {

						> a {

							text-decoration: none;

							&:after {

								font-size: 10px;
								color: $textColor;
								content: '\f078';
								right: 11px;
								@include icoVPosition(10px);
							}
						}
					}

					&:hover, &:focus, &.active {

						> a {

							text-decoration: none;
						}
					}
				}

				&_item3 {

					border-bottom: 0 !important;
					background: lighten($baseColor, 5%) !important;
					padding-left: 10px;
					margin-left: -10px;

					a {

						color: darken($baseTrdColor, 15%);
						padding-right: 22px;
						font-size: 12px;
						letter-spacing: 0.5px;

						&:after {

							font-family: 'FontAwesome';
							content: "\f111";
							position: absolute;
							font-size: 6px;
							width: 6px;	
							right: 13px;
							@include icoVPosition(6px);
						}
					}

					&:hover, &:focus, &.active {

						background: darken($baseColor, 1%) !important;

						a {

							color: $baseTrdColor;

							&:after {

								color: $baseTrdColor;
							}
						}
					}
				}
			}
		}
	}
}

}

@if $verticalOn == true and $verticalType == tree or $verticalOn == true and $verticalType == mtree {

	.menu--#{$verticalType} {

		list-style: none;

		li {

			background: $passive-item-bg;
			padding-top: 0;
		}

		@if $verticalType == tree {

			&_item {

				padding-left: 20px;

				&:before {

					font-family: 'FontAwesome';	
					content: '\f111';
					font-size: 5px;
					position: absolute;
					left: 10px;
					@include icoVPosition(6px);
				}

				&.parent {

					&:before {

						top: 16px;
					}
				}

				&:hover, &:focus, &.active {

					> li {

						color: $baseColor;
					}

					> a {

						color: $baseColor;
					}

					&:before {

						color: $baseColor;
					}
				}
			}

			.menu--sub {

				&_item2 {

					padding-left: 10px;

					&:before {

						font-family: 'FontAwesome';	
						content: '\f10c';
						font-size: 7px;
						position: absolute;
						@include icoVPosition(7px);
						left: 0;
					}

					&.parent {

						&:before {

							top: 16px;
						}
					}

					> a {

						text-decoration: underline;
					}

					&:hover, &:focus, &.active {

						> a {

							color: $baseColor;
							text-decoration: none;
						}

						&:before {

							color: $baseColor;
						}
					}
				}

				&_item3 {

					padding-left: 10px;

					&:before {

						font-family: 'FontAwesome';	
						content: '\f068';
						font-size: 7px;
						position: absolute;
						@include icoVPosition(7px);
						left: 0;
					}

					&:hover, &:focus, &.active {

						> a {

							color: $baseColor;
						}

						&:before {

							color: $baseColor;
						}
					}
				}
			}

		} @else if $verticalType == mtree {

			&_item {

				> a {

					padding-top: 14px;

				}

				&:hover, &:focus, &.active {

					> a {
						position: relative;
						width: 99.9%;
						@include one-way-gradient(to top, $baseColor);
						color: $baseTrdColor;
						overflow: hidden;						
						border: 0;

						&:before, &:after {

							position: absolute;
							right: -13px;
							width: 35px;
							height: 20px;
							content: "";
							background: $passive-item-bg;
						}

						&:before {

							top: -8px;
							transform: rotate(45deg);
						}

						&:after {

							top: 27px;
							transform: rotate(-45deg);
						}
					}
				}
			}

			.menu--sub {

				&_item2 {

					padding-left: 5px;
					margin-left: 10px;

					&:before {

						font-family: 'FontAwesome';	
						content: '\f04b';
						font-size: 7px;
						position: absolute;
						left: 0;
						@include icoVPosition(7px);
						color: $baseSecColor;
					}

					&.parent {

						&:before {

							top: 16px;
						}
					}

					&:hover, &:focus, &.active {

						&:before {

							color: $baseColor;
						}

						> a {

							color: $baseColor;
						}
					}

					.menu--sub {

						border-left: 3px solid $baseSecColor;
					}
				}

				&_item3 {

					padding-left: 5px;

					&:before {

						font-family: 'FontAwesome';	
						content: '\f111';
						font-size: 10px;
						position: absolute;
						left: -5.2px;
						@include icoVPosition(12px);
						color: #fff;
					}

					a:before {
						
						font-family: 'FontAwesome';	
						content: '\f111';
						font-size: 7px;
						position: absolute;
						left: -5.4px;
						@include icoVPosition(9px);
						padding-left: 1px;
						color: $baseSecColor;
					}

					&.first a {

						padding-top: 0;
						margin-top: 5px;
					}

					&.last a {

						// padding-bottom: 0;
						margin-bottom: 10px;
					}

					&:hover, &:focus, &.active {

						a {

							color: $baseColor;

							&:before {

								color: $baseColor;
							}
						}
					}
				}
			}

			.snd--sub {

				border-left: 3px solid $baseSecColor;

				
			}
		}	
	}
}