$typePreNews: flags; // flags или dots

.pre-news {

	&__item {

		padding-left: 10px;
		position: relative;

		&:before {

			font-family: 'FontAwesome';
			color: $textColor;
			position: absolute;
		}

		time {

			color: #a8a7a7;
			font-size: 12px;
			margin: 0;
			padding: 0;
		}

		&-title {

			margin: 3px 0 5px;

			a {

				color: $textColor;

				font-weight: 700;
				text-decoration: underline;

				&:hover {

					color: $baseColor;
				}
			}
		}

		&-image {

			width:100%;
			border: 3px solid $textColor;
			border-radius: $bordersRadius;

			& + .more {

				right: 5px !important;
				bottom: 5px !important;
			}
		}

		&-anounce {

			margin: 0;
			font-size: 14px;
		}

		.more {

			color: $baseSecColor;
			position: absolute;
			right: 0;
			bottom: 0;

			&:hover {

				color: $baseColor;
			}
		}
	}

	@if $typePreNews == flags {

		&--flags {

			padding-left: 10px;

			.pre-news__item {
			
				margin-bottom: 7px;

				&:before {

					content: '\f02e';
					top: 3px;
					left: -10px;	
				}
			}
		}

		.all-news {

			margin-left: -10px;
			width: calc(100% + 10px);
		}

	} @else if $typePreNews == dots {

		&--dots {

			.pre-news__item {

				padding-left: 10px;
				padding-bottom: 7px;
				// border-left: 1px solid $textColor;

				&:last-child {

					&:after {

						background: transparent;
					}
				}

				// background: $textColor;
				// background-size: 3px 100%;

				&:before {

					content: '\f111';
					font-size: 12px;
					width: 12px;
					top: 4px;
					left: -6.5px;
					text-align: center;
					z-index: 9
				}

				&:after {

					content: '';
					width: 2px;
					height: 100%;
					position: absolute;
					top: 5px;
					left: -1.5px;
					background: $textColor;
				}

				&:hover {

					&:before {

						height: 12px;
						color: $baseTrdColor;
						font-size: 7px;
						background: #fff;
						border: 2px solid $baseColor;
						border-radius: 50%;
					}
				}
			}
		}
	}
}